-= GENERAL =-=-=-=-=-=-=->
terminal.name: xterm
window.showhiden: 0
window.startdirectory: cwd

-= TABS =-=-=-=-=-=-=-=-=->
window.tab.left: selected
#window.tab.left: presentation
window.tab.left: filename
window.tab.right: filetype
window.tab.right: mode
window.tab.right: size
window.tab.right: nothing

-= COLORING =-=-=-=-=-=-=->
window.color.background: -1
window.color.default: -1
window.color.katalog: 4
window.color.executeble: 2
window.color.link: 6
window.color.fifo: 3
window.color.char: 3
window.color.block: 3
window.color.error: 1
window.color.selected: 1

-= TYPE ACTION =-=-=-=-=->
#example: file.type: "lxterminal --title=$f -e vim " c,h,rc,txt,conf,log

-= SHORTCUTS =-=-=-=-=->
window.shortcut: 'H' "$hidden"
window.shortcut: 'E' "$noexe"
window.shortcut: 'M' "$mute"
window.shortcut: 'P' "$passiv"
window.shortcut: '~' "$home"
window.shortcut: '/' "/"

-= SOUNDEFFECTS =-=-=-=-=->
#example: sound.enter.singledot: "/usr/share/sounds/laser_gun_2.wav"
#sound.enter.singledot:
#sound.enter.doubledot: 
#sound.enter.kat: 
#sound.enter.executeble: 
#sound.enter.scrollupp: 
#sound.enter.scrolldown: 
#sound.enter.stepupp: 
#sound.enter.stepdown: 
#sound.enter.selectfile: 
#sound.enter.copyfiles:
#sound.enter.movefiles:
#sound.enter.removefiles: 
#sound.enter.shortcut:

<-=-=-=-=-=-=-=-=-= END =-
